<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/chatMessage.css}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <title>Chat Message Demo</title>
</head>
<body>
<div id="chat-page">
    <div class="wrapper">
        <div class="item-container">
            <div class="item-search">
                <input
                        type="text"
                        id="search"
                        placeholder="Tìm kiếm"
                        autocomplete="off"
                        class="form-control"
                        oninput="handleSearch(event)"
                />
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="search-results hidden">
                <ul id="searchResults"></ul>
            </div>
            <div class="item-user-container">
                <ul class="action-header">
                </ul>
            </div>
        </div>

        <div class="chat-container">
            <div class="chat-header">
                <div class="item-user">
                    <div class="avatar-user">
                    </div>
                    <div class="item-information">
                        <span class="name-user"></span>
                        <span class="description"></span>
                    </div>
                </div>
            </div>
            <div class="connecting">Connecting...</div>
            <ul id="messageArea"></ul>
            <form id="messageForm" name="messageForm" nameForm="messageForm">
                <div class="form-group clearfix">
                    <div class="input-group">
                        <input
                                type="text"
                                id="message"
                                placeholder="Nhập tin nhắn"
                                autocomplete="off"
                                class="form-control"
                        />
                        <button type="submit" class="button-submit">
                            <i class="fa-regular fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"
        integrity="sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
</script>

<script th:src="@{/js/authentication.js}"></script>
<script>
    let searchDelayTime = 200;
    let actionHeader = document.querySelector(".item-user-container .action-header");
    let messageForm = document.querySelector("#messageForm");
    let messageInput = document.querySelector("#message");
    let messageArea = document.querySelector("#messageArea");
    let connectingElement = document.querySelector(".connecting");
    let search = document.querySelector("#search");
    let searchResults = document.querySelector("#searchResults");
    let searchResultsContainer = document.querySelector(".search-results");

    let searchResultsItem = [];

    let endPointWs = '/ws';
    let stompClient = null;
    let stompNotification = null;
    let currentSubscription;
    let roomId = null;
    let topic = null;
    let topicNotification = null;

    let username = getAuthName();

    let url = new URL(window.location.href);
    let id = url.searchParams.get('id');

    const colors = [
        '#2196F3', '#32c787', '#00BCD4', '#ff5652',
        '#ffc107', '#ff85af', '#FF9800', '#39bbb0'
    ];
</script>
<script th:src="@{/js/theBaseServices.js}"></script>
<script th:src="@{/js/sideBarServices.js}"></script>
<script th:src="@{/js/chatMessageServices.js}"></script>
<script th:src="@{/js/searchServices.js}"></script>
<script th:src="@{/js/websocketNotificationService.js}"></script>
<script th:src="@{/js/websocketServices.js}"></script>
</body>
</html>